body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #853939ae;
    
}

header {
    background-color: #090404ef;
    color: #080404;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: red;
    text-decoration: none;
    border-radius: 50%;
}

section {
    padding: 2em;
    margin: 2em 0;
}

#home {
    background: url('backgg.jpg') no-repeat center center/cover;
    color: rgba(17, 16, 16, 0.986);
    text-align: center;
    text-size-adjust: 20em;
    padding: 10em 0;
}

h1, h2 {
    margin: 0.5em 0;
}

p, ul {
    margin: 1em 0;
    line-height: 1.6;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
    background-color: green;
}


#about {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 50vh;
    margin: 0;
    color:black;
    padding: 40px;
     background: url('about.jpg') no-repeat center center/cover;
    
}
 .profile-img img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: fill;
 }

#education {
   
    color: black;
    padding: 5em 5em;
    text-align: center;

}

/* Skills section with background image */
#skills {
    background: url('backg.jpg') no-repeat center center/cover;
    color: white;
    padding: 5em 0;
    text-align: center;
}

/* Work experience section with background image */
#work-experience {
    background: url('images/work-background.jpg') no-repeat center center/cover;
    color: black;
    padding: 5em 0;
    text-align: center;
}

/* Projects section with background image */
#projects {
    background: url('projecti.jpg') no-repeat center center/cover;
   color:#080404;
   padding: 15em 0;
   text-align: top left;
}
.proojects{
    border: #3498db;
    background-color: green;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.proojects:hover{
    background-color: red;
}